html {
	position: relative;
}
body {
	margin-bottom: 100px;
}
.jumbotron {
	background: linear-gradient(225deg, #bc4e9c, #f80759);
	background-size: 400% 400%;

	-webkit-animation: NurSabilly 3s ease infinite;
	-moz-animation: NurSabilly 3s ease infinite;
	-o-animation: NurSabilly 3s ease infinite;
	animation: NurSabilly 3s ease infinite;

	width: 100%;
	height: 100vh;
}
@-webkit-keyframes NurSabilly {
0%{background-position:93% 0%}
50%{background-position:0% 100%}
100%{background-position:93% 0%}
}
@-moz-keyframes NurSabilly {
0%{background-position:93% 0%}
50%{background-position:0% 100%}
100%{background-position:93% 0%}
}
@-o-keyframes NurSabilly {
0%{background-position:93% 0%}
50%{background-position:0% 100%}
100%{background-position:93% 0%}
}
@keyframes NurSabilly {
0%{background-position:93% 0%}
50%{background-position:0% 100%}
100%{background-position:93% 0%}
}
.highlight {
	font-family: 'Raleway', sans-serif;
	color: #f5af19;
}

.jumbotron h1, h3 {
	color:white;
	font-family: 'Raleway', sans-serif;
}
.about {
	background-color: white;
	margin-bottom: 2rem;
}
.about hr {
	width: 200px;
	border-top: 3px solid #f80759;
}
.about img {
	width: 250px;
	height: 250px;
	border-radius:100%;
	border: 10px solid #f80759;
}
.portfolio {
	background-color: white;
}
.portfolio hr {
	width: 200px;
	border-top: 3px solid #f80759;
}
.portfolio h2 {
	margin-top:2rem;
}
.img-thumbnail {
	margin-bottom: 2rem;
}
.contact {
	min-height: 600px;
	background-color: #eee;
}
.contact  hr{
	width: 200px;
	border-top: 3px solid #f80759;
}
.contact h2 {
	margin-top: 2rem;
}
footer {
	background-color: #202020;
	color: white;
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 100px;
	padding-top:30px;
}
footer p {
	font-size: 0.9rem;
}
#nav-link-login {
	background: #f80759;
	border-radius: 5px;
	color:white;
	padding-left:15px;
	padding-right:15px;
}
#nav-link {
	color:white;
	padding-left:15px;
	padding-right:15px;
}
#nav-link-brand {
	color:white;
	font-family: 'Parisienne', cursive;
	font-size:1.5rem;
	padding-left:15px;
	padding-right:15px;
}
.progress {
	margin-top: 20px;
}
.bg-shifter {
	background: linear-gradient(225deg, #bc4e9c, #f80759);
	background-size: 400% 400%;

	-webkit-animation: NurSabilly 3s ease infinite;
	-moz-animation: NurSabilly 3s ease infinite;
	-o-animation: NurSabilly 3s ease infinite;
	animation: NurSabilly 3s ease infinite;
}

.profil hr {
	width: 200px;
	border-top: 3px solid #f80759;
}

.profil h2 {
	margin-top: 2rem;
}
.profil {
	background: #eee;
}