{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Parisienne" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet"> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.css" />
    <title>{{ name }}</title>
  </head>
  <body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      <div class="collapse navbar-collapse justify-content-start" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="#" id="nav-link">Blog</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" id="nav-link">Disclaimer</a>
          </li>
        </ul>
      </div>
      <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
        <a class="nav-link" href="#" id="nav-link-brand">{{ name }}</a>
          </li>
        </ul>
      </div>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav justify-content-end">
          <li class="nav-item">
            <a class="nav-link" href="#" id="nav-link">Sign Up</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" id="nav-link-login">Login</a>
          </li>
        </ul>
      </div>
    </nav>
    <!-- End of Navbar -->
    <!-- Jumbotron -->
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
      <!-- Title -->
      <h1 class="display-m4 text-center">Hi, saya<span class="highlight"> {{ name }}</span></h1>
      <h3 class="text-center">ngaji.ngopi.ngoding</h3>
      </div>
  </div>
  <!-- End of Jumbotron -->
    <!-- About Me -->
      <section class="about" id="about">
        <div class="container-fluid">
        <div class="row">
        <div class="col-sm-12">
        <h2 class="text-center"> Siapa sih ? </h2>
        <hr>
        </div>
        </div>
        <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-2">
        <img src="{% static 'img/dp2.jpg' %}" alt="Profile Pic"class="img mx-auto d-block">
        </div>
        <div class="col-sm-1"></div>
        <div class="col-sm-5">
        <p class="text-justify">   Dia adalah seorang mahasiswa jurusan teknik informatika di salah satu universitas negeri yang ada di Jawa Tengah. <i>Ngaji, ngopi, ngoding</i> adalah jargon favoritnya. Terinspirasi dari Abah Kyai Maimun Zubair, beliau <i> ngendika</i>, "Kalian sekolah model apapun jangan sampai meninggalkan ngaji." Selain sebagai seorang mahasiswa, dia juga nyantri di pondok pesantren di lingkungan kampusnya. Baginya, ngaji bukan hanya sekadar belajar agama, tetapi juga belajar bagaimana mengembangkan diri menjadi manusia yang berakhlak mulia. Bahkan lebih dari itu, dia berpendapat bahwa dengan nyantri, dia mengerti bagaimana memposisikan dirinya di era informasi dan digitalisasi seperti saat ini. Tertarik dengan dunia desain, terutama desain grafis dan web desain, bahkan baru-baru ini mulai melirik <i>data science</i>. Cita-cita terdekatnya adalah membuat rumah untuk orang tua yang telah membesarkannya. Kesibukannya saat ini adalah mencari keridhoan-Nya dengan terus belajar dan belajar. </p>
        </div>
        <div class="col-sm-2"></div>
      </div>
      <!-- Progress -->
      <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
          <div class="progress">
            <div class="progress-bar bg-shifter" role="progressbar" style="width: 40%" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"><span class="float-right">HTML</span></div>
          </div>
          <div class="progress">
            <div class="progress-bar bg-shifter" role="progressbar" style="width: 42%" aria-valuenow="42" aria-valuemin="0" aria-valuemax="100"><span class="float-right">CSS</span></div>
          </div>
          <div class="progress">
            <div class="progress-bar bg-shifter" role="progressbar" style="width: 34%" aria-valuenow="34" aria-valuemin="0" aria-valuemax="100"><span class="float-right">Python</span></div>
          </div>
          <div class="progress">
            <div class="progress-bar bg-shifter" role="progressbar" style="width: 70%" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"><span class="float-right">Photoshop</span></div>
          </div>
          <div class="progress">
            <div class="progress-bar bg-shifter" role="progressbar" style="width: 20%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"><span class="float-right">Gravit</span></div>
          </div>
        <div class="col-sm-2"></div>
    </div>
    <!-- End of Progress -->
      </section>
    <!-- End of About Me -->
    <!-- Profil -->
    <section class="profil" id="profil">
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-12 text-center">
            <h2> Profil </h2>
            <hr>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-3 text-center"></div>
          <div class="col-sm-6">
            <h1>Ini adalah portofolio kita berdua &#10084;</h1>
            <br>
            <br>
          </div>
          <div class="col-sm-3 text-center"></div>
        </div>
      </div>
    </section>
    <!-- Portfolio -->
    <section class="portfolio" id="portfolio">
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-12 text-center">
            <h2> Portfolio </h2>
            <hr>
          </div>
        </div>
        <!-- Row 1 -->
        <div class="row">
          <div class="col-sm-4">
            <a href="{% static 'img/1.jpg' %}" data-toggle="lightbox" data-gallery="example-gallery">
                <img src="{% static 'img/1.jpg' %}" class="img-thumbnail">
            </a>
          </div>
         <div class="col-sm-4">
            <a href="{% static 'img/2.jpg' %}" data-toggle="lightbox" data-gallery="example-gallery">
                <img src="{% static 'img/2.jpg' %}" class="img-thumbnail">
            </a>
         </div>
         <div class="col-sm-4">
            <a href="{% static 'img/3.jpg' %}" data-toggle="lightbox" data-gallery="example-gallery">
                <img src="{% static 'img/3.jpg' %}" class="img-thumbnail">
            </a>
         </div>
        </div>
        <!-- Row 2 -->
        <div class="row">
          <div class="col-sm-4">
            <a href="{% static 'img/4.jpg' %}" data-toggle="lightbox" data-gallery="example-gallery">
                <img src="{% static 'img/4.jpg' %}" class="img-thumbnail">
            </a>
          </div>
         <div class="col-sm-4">
            <a href="{% static 'img/5.jpg' %}" data-toggle="lightbox" data-gallery="example-gallery">
                <img src="{% static 'img/5.jpg' %}" class="img-thumbnail">
            </a>
         </div>
         <div class="col-sm-4">
            <a href="{% static 'img/6.jpg' %}" data-toggle="lightbox" data-gallery="example-gallery">
                <img src="{% static 'img/6.jpg' %}" class="img-thumbnail">
            </a>
         </div>
        </div>
      </div>
    </section>
    <!-- End of Portfolio -->
    <!-- Contact -->
    <section class="contact" id="contact">
        <div class="container-fluid">
        <div class="row">
          <div class="col-sm-12">
        <h2 class="text-center"> Ngobrol Yuk </h2>
        <hr>
      </div>
      </div>
      <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
          <form action="/action_page.php">
            <div class="form-group">
              <label for="Nama">Nama</label>
              <input type="Nama" class="form-control" id="Nama" placeholder="Masukkan nama">
            </div>
            <div class="form-group">
              <label for="Email">Email</label>
              <input type="Email" class="form-control" id="Email" placeholder="Masukkan email">
            </div>
            <div class="form-group">
              <label for="comment">Pesan</label>
              <textarea class="form-control" rows="5" id="Pesan" placeholder="Kasih saran buat saya dong :D"></textarea>
          </div> 
            <div class="custom-control custom-checkbox form-group form-check">
              <input type="checkbox" class="custom-control-input" id="customCheck" name="example1">
              <label class="custom-control-label" for="customCheck">Saya telah menyetujui ketentuan yang berlaku.</label>
            </div>
            <button type="submit" class="btn btn-primary"> Kirim </button>
      </div>
    <div class="col-sm-2"></div>
  </section>
  <!-- End of Contact -->
  <!-- Footer -->
  <footer>
    <div class="container-fluid text-center">
      <div class="row">
        <div class="col-sm-12">
          <p> &copy; Copyright <a href="http://www.facebook.com/faylane.ez/" alt="Facebook">Nur Sabilly</a> 2019 | Made with <span class="highlight">love </span>in Semarang </p>
        </div>
      </div>
  </footer>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.js"></script>
    <script>$(document).on('click', '[data-toggle="lightbox"]', function(event) {
                event.preventDefault();
                $(this).ekkoLightbox();
            });
    </script>
  </body>
</html>